<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Belly Button Biodiversity</title>
  <!--Bootstrap imports -->
  <link rel="stylesheet" media="screen" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!--D3 import-->
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <!--Plotly-->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  

  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="shortcut icon" href="">
</head>

<body>
    <div class="jumbotron" style="text-align: center">
        <div class="container">
            <h1>Belly Button Biodiversity Dashboard</h1>
            <p>Use the interactive charts below to explore the dataset</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="dropdown-names primary">
                       <select id="selDataset" class="custom-select" data-style="btn-info">
                           </select>
                    </div>
                </div>
                
            </div>
            <div class="col-md-8">
            
                {% for id in ids %}
                <h3>{{id}}</h3>
                <div id="{{id}}"></div>
                {% endfor %}
            </div>
        
        </div>
   
    </div>
  


<script src="/static/js/app.js"></script>

</body>

</html>





